{% load static %}

<!-- jQuery -->
<script src="{% static '/public/vendor/jquery.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static '/public/vendor/popper.min.js' %}"></script>
<script src="{% static '/public/vendor/bootstrap.min.js' %}"></script>

<!-- Perfect Scrollbar -->
<script src="{% static '/public/vendor/perfect-scrollbar.min.js' %}"></script>

<!-- DOM Factory -->
<script src="{% static '/public/vendor/dom-factory.js' %}"></script>

<!-- MDK -->
<script src="{% static '/public/vendor/material-design-kit.js' %}"></script>

<!-- App JS -->
<script src="{% static '/public/js/app.js' %}"></script>

<!-- Preloader -->
<script src="{% static '/public/js/preloader.js' %}"></script>

<script>
    (function () {
        'use strict';
        var headerNode = document.querySelector('.mdk-header')
        var layoutNode = document.querySelector('.mdk-header-layout')
        var componentNode = layoutNode ? layoutNode : headerNode
        componentNode.addEventListener('domfactory-component-upgraded', function () {
            headerNode.mdkHeader.eventTarget.addEventListener('scroll', function () {
                var progress = headerNode.mdkHeader.getScrollState().progress
                var navbarNode = headerNode.querySelector('#default-navbar')
                navbarNode.classList.toggle('bg-transparent', progress <= 0.2)
            })
        })
    })()
</script>