{% load static %}
<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>White Field Foundations</title>

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">
        {% include 'base/css.html' %}
    </head>

    <body class="layout-sticky-subnav layout-default layout-login-centered-boxed">

        <div class="preloader">
            <!-- <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div> -->

            <div class="sk-bounce">
    <div class="sk-bounce-dot"></div>
    <div class="sk-bounce-dot"></div>
            </div>
               <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples.html -->
        </div>

        {% block content %}{% endblock %}

        {% include 'base/js.html' %}
</body>

</html>