{% load static %}


{% for obj in object_list %}
 <div class="col-md-6 col-lg-4 card-group-row__col">
    <div class="card card-group-row__card">
        <div class="card-header d-flex align-items-center">
            <a href="{{ obj.get_absolute_url }}"
               class="card-title flex mr-12pt">{{ obj.full_name }}</a>
            <a href="{{ obj.get_absolute_url }}" class="btn btn-light btn-sm">View Profile</a>
        </div>
        <div class="card-body flex text-center d-flex flex-column align-items-center justify-content-center">
            <a href="teacher-profile.html"
               class="avatar avatar-xl overlay js-overlay overlay--primary rounded-circle p-relative o-hidden mb-16pt">
                <img src="{{ obj.avatar.url }}"
                     alt="teacher"
                     class="avatar-img">
                <span class="overlay__content"><i class="overlay__action material-icons icon-40pt">face</i></span>
            </a>
            <div class="flex">
                <div class="d-inline-flex align-items-center mb-8pt">
                    <div class="rating mr-8pt">

                        <span class="rating__item"><span class="material-icons">star</span></span>

                        <span class="rating__item"><span class="material-icons">star</span></span>

                        <span class="rating__item"><span class="material-icons">star</span></span>

                        <span class="rating__item"><span class="material-icons">star_border</span></span>

                        <span class="rating__item"><span class="material-icons">star_border</span></span>

                    </div>
                    <small class="text-muted">3/5</small>
                </div>

                <p class="text-70 measure-paragraph">{{ obj.bio }}</p>

                <a href="javascript:void()"
                   data-toggle="tooltip"
                   data-title="Browse Topic"
                   data-placement="bottom"
                   class="chip chip-outline-secondary">UI Designer</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}